<dhcpv6-server 
    xmlns="urn:ietf:params:xml:ns:yang:ietf-dhcpv6-server">
  <enabled>true</enabled>
  <server-duid>000200090CC084D303000912</server-duid>
  <vendor-config/>
  <option-sets>
    <option-set>
      <option-set-id>1</option-set-id>
      <sip-server-domain-name-list-option xmlns="https://example.com/ns/example-dhcpv6-opt-sip-serv">
        <sip-server>
          <sip-serv-id>0</sip-serv-id>
          <sip-serv-domain-name>sip1.example.org</sip-serv-domain-name>
        </sip-server>
        <sip-server>
          <sip-serv-id>1</sip-serv-id>
          <sip-serv-domain-name>sip2.example.org</sip-serv-domain-name>
        </sip-server>
      </sip-server-domain-name-list-option>
      <description>Example DHCP option set</description>
      <vendor-specific-information-options>
        <vendor-specific-information-option>
          <enterprise-number>32473</enterprise-number>
          <vendor-option-data>
            <sub-option-code>01</sub-option-code>
            <sub-option-data>1234abcd</sub-option-data>
          </vendor-option-data>
          <vendor-option-data>
            <sub-option-code>02</sub-option-code>
            <sub-option-data>abcd1234</sub-option-data>
          </vendor-option-data>
        </vendor-specific-information-option>
      </vendor-specific-information-options>
      <sol-max-rt-option>
        <sol-max-rt-value>3600</sol-max-rt-value>
      </sol-max-rt-option>
    </option-set>
  </option-sets>
  <class-selector/>
  <network-ranges>
    <valid-lifetime>54000</valid-lifetime>
    <renew-time>7200</renew-time>
    <rebind-time>32400</rebind-time>
    <preferred-lifetime>43200</preferred-lifetime>
    <network-range>
      <id>1</id>
      <description>example-network-range</description>
      <network-prefix>2001:db8::/32</network-prefix>
      <option-set-id>1</option-set-id>
      <address-pools>
        <address-pool>
          <pool-id>1</pool-id>
          <pool-prefix>2001:db8:1:1::/64</pool-prefix>
          <start-address>2001:db8:1:1::1000</start-address>
          <end-address>2001:db8:1:1::2000</end-address>
          <max-address-utilization>50</max-address-utilization>
          <option-set-id>1</option-set-id>
          <host-reservations>
            <host-reservation>
              <reserved-addr>2001:db8:1:1::1001</reserved-addr>
              <client-duid>00052001db81</client-duid>
              <option-set-id>1</option-set-id>
              <valid-lifetime>604800</valid-lifetime>
              <renew-time>86400</renew-time>
              <rebind-time>172800</rebind-time>
              <preferred-lifetime>345600</preferred-lifetime>
            </host-reservation>
          </host-reservations>
        </address-pool>
      </address-pools>
      <prefix-pools>
        <prefix-pool>
          <pool-id>0</pool-id>
          <pool-prefix>2001:db8:1::/48</pool-prefix>
          <client-prefix-length>56</client-prefix-length>
          <max-pd-space-utilization>80</max-pd-space-utilization>
        </prefix-pool>
      </prefix-pools>
    </network-range>
  </network-ranges>
</dhcpv6-server>
